{
  "C_Cpp.intelliSenseEngine": "default",
  "idf.flashType": "UART",
  "idf.port": "/dev/ttyACM0",
  "files.associations": {
    "pwm_controller.h": "c",
    "init.h": "c",
    "db.h": "c",
    "server.h": "c",
    "driver_ina219.h": "c",
    "json_builder.h": "c"
  },
  "idf.openOcdConfigs": [
    "board/esp32c3-bridge.cfg"
  ],
  "idf.customExtraVars": {
    "IDF_TARGET": "esp32c3"
  }
}
